body {

  width: 1280px;
  height: 4192px;

  background: #FFFFFF;
}
.container{
  position: absolute;
  width: 1280px;
  height: 698px;
  left: 0px;
  top: 0px; 
}

.style_container{
  position: absolute;
  width: 1088px;
  height: 649px;
  left: 0px;
  top: 0px;

  background: linear-gradient(90deg, #EE5514 1.14%, rgba(238, 85, 20, 0) 133.88%);
  opacity: 0.1;
}  

.header{
  width: 100%;
  max-width: 1328px;

  margin: 0 auto 0;
  padding: 20px 24px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
    
}


.header__logo-img{
  position: absolute;
  width: 94px;
  height: 44px;
  margin: 23px 864px 558px 100px;

}

.header_nav{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}
.header__nav-list{
  position: absolute;
  width: 331px;
  height: 44px;
  margin: 23px 718px 567px 325px;

    
  display: flex;
}

.header__nav-list li {
  display: flex;
  margin: 10px;
  flex-grow: 1;
  flex-wrap: wrap;
}


.header__nav-list a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;


    color: #1A0A03;
}

.header__nav-list a:hover {
    color: rgba(238, 85, 20, 1);
    font-weight: bold;
}

.header__button{
  margin-left:1000px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 40px;
  gap: 10px;
  background-color: #EE5514;
  cursor: pointer;


  position: absolute;
  width: 128px;
  height: 56px;

}

.header__button:hover,
.header__button:focus {
  background-color: #EE5514;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.header__button:hover {
  transform: translateY(-1px);
}

.header__button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.header__button span{  
  
  margin: 3px -54px 0px -14px;
  width: 68px;
  height: 26px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 136%;


  text-align: center;
  letter-spacing: 0.03em;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  border-radius: 3px;
  transition: all .6s linear 0s;
  will-change: background-color, color;
}


.title{
  position: absolute;
  width: 366px;
  height: 216px;
  margin: 205px 592px 228px 130px;

  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
  line-height: 120%;

  color: #1A0A03;
}

.title span{
  color:rgba(238, 85, 20, 1)
}

.subtitle{
  position: absolute;
  width: 326px;
  height: 52px;
  margin: 441px 592px 156px 130px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
 
  color: #1A0A03;

  opacity: 0.7;
}

.square{
    box-sizing: border-box;

    position: absolute;
    width: 394px;
    height: 400px;
    left: 730px;
    top: 131px;

    opacity: 0.4;
    border: 11px solid #EE5514;

}

.sneakers_logo{
    position: absolute;
    width: 598px;
    height: 400px;
    left: 643px;
    top: 141px;
}

.buy{
    position: absolute;
    width: 792px;
    height: 125px;
    left: 230px;
    top: 573px;

    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
}


.Brand li:first-child,
.Person li:first-child,
.Size li:first-child,
.Price li:first-child{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    list-style-type: none;
    color: #1A0A03;
    margin-top: 10px;
    opacity: 0.7;
}

.Brand li:last-child,
.Person li:last-child,
.Size li:last-child,
.Price li:last-child{
    margin-top: 20px;
    list-style-type: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
}

.Person select,
.Size select,
.Price select{
  border: 0pc;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  outline:none;
  background-color: #FFFFFF;
}

.line{
  width: 42px;
  height: 0px;

border: 1px solid #EE5514;
transform: rotate(90deg);
}


.buy__button{
  margin: 35px 54px 34px 610px ;
 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 40px;
  gap: 10px;
  background-color: #EE5514;
  cursor: pointer;


  position: absolute;
  width: 128px;
  height: 56px;

}

.buy__button:hover,
.buy__button:focus {
  background-color: #EE5514;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.buy__button:hover {
  transform: translateY(-1px);
}

.buy__button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.buy__button span{  
  
  margin: 3px -54px 0px -14px;
  width: 68px;
  height: 26px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 136%;


  text-align: center;
  letter-spacing: 0.03em;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  border-radius: 3px;
  transition: all .6s linear 0s;
  will-change: background-color, color;
}

.mp4{
    position: absolute;
width: 1190px;
height: 380px;
left: 100px;
top: 838px;
}

.subtitle_video{
  position: absolute;
  width: 65px;
  height: 30px;

  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;

  letter-spacing: 0.05em;

  margin: 64px 1125px 286px 0;

  color: #EE5514;
}

.subtitle_satisfaction{
    position: absolute;
  width: 340px;
  height: 114px;
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  color: #1A0A03;
  margin: 104px 850px 162px 0 ;
}

.sub{
    position: absolute;
  width: 326px;
  height: 78px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin: 238px 864px 64px 0 ;

  color: #1A0A03;

  opacity: 0.7;
}

.video{
    position: absolute;
    width: 555px;
    height: 326px;
    left: 528px;
    border-radius: 10px;
    background-image: url('blur_foto.png');

    margin: 55px 50px 585px;
}


.custom-controls {
    position: absolute;
    height: 40px;
    width: 535px;
 
}

.controls-container {
    position: absolute;
    height: 40px;
    width: 535px;
    margin-left: 538px;
    margin-top: 281px;
  }

.video-player:hover .controls-container {
    opacity: 1;
    transition: all 0.2s ease-in;  
}

.control-group {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

.controls-left,
.controls-right {
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
    color: #EE5514;
    top: 67px;
    left: 50px;
  }

.progress-bar{
  background:#EE5514;
  height: 100%;
  border-radius: 10%;
  transition: all 0.5s ease;

}
  
.progress-range {
  width: 540px;
  height: 8px;
  background-color: rgba(202, 202, 202, 0.5);
  margin: auto;
  border-radius: 10px;
  position: absolute;
  bottom: -14px;
  justify-content: center;
  cursor: pointer;
  left: 46px;
  }  

.controls-left {
    justify-content: flex-start;
  }

.controls-right{
    justify-content: flex-end;

  }

.  


.fa-play:hover,
.fa-pause:hover {
    color: blueviolet;
    cursor: pointer;
  }  

.volume-icon {
    cursor: pointer;
    margin-left: 14px;
}  

.volume-range {
    height: 8px;
    width: 100px;
    background-color: rgba(202, 202, 202, 0.5);
    border-radius: 10px;
    position: relative;
    left: 43px;
    top: -15px;
    cursor: pointer;
}


#play-btn{
  left: 10px;
  cursor: pointer;
}


.volume-bar {
  background:#EE5514;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: width 0.2s ease-in;
}


.speed,
.time {
  position: relative;
}

select {
    background-color: transparent;
    color: var(--font-color);
    border: none;
    font-size: 15px;
    position: relative;
    border-radius: 5px;
    right: 10px;
  }


.player-speed option {
    background: rgba(0, 0, 0, 0.9);
    border: none;
    font-size: 14px;
}  


.time {
  margin-right: 15px;
  color: var(--font-color);
  font-weight: bold;
  user-select: none;
  }



.fullscreen {
  cursor: pointer;
}

.video-fullscreen {
  position: relative;
  justify-content: center;
  transform: translateY(-50%);
}


.feature_container{
  position: absolute;
  width: 1140px;
  height: 580px;
  left: 100px;
  top: 1358px;
}  


.feature_title{
  position: absolute;
  width: 94px;
  height: 30px;
  

  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;

  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.05em;

  color: #EE5514;
}

.feature_subtitle{
  position: absolute;
  width: 588px;
  height: 57px;


  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  left: 52%;
  top: 15px;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  color: #1A0A03;

}

.Quality_block{
  position: absolute;
width: 360px;
height: 423px;
top: 157px;

background: #FFFFFF;
box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
border-radius: 10px;
}

.Flexible_block{
  position: absolute;
  width: 360px;
  height: 423px;
  left: 390px;
  right: 390px;
  top: 157px;
}

.Flexible_block-container{
  background: #EE5514;
  opacity: 0.1;
  box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
  border-radius: 10px;
  position: absolute;
  width: 360px;
  height: 423px;
  left: 390px;
  right: 390px;
  top: 157px;
}

.Long_Lasting_block{
  position: absolute;
  width: 360px;
  height: 423px;
  left: 780px;
  top: 157px;
  
  background: #FFFFFF;
  box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
  border-radius: 10px;
}

.Quality_circle,
.Flexible_circle,
.Long_Lasting_circle{
  margin: 56px 111px 227px 109px;

  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #1265E1;
  opacity: 0.1;

}

.quality_logo,
.Flexible_logo,
.Long_Lasting_logo{
  margin: 97.37px 144px 256.91px 144.31px ;
}

.Quality_block-title,
.Flexible_block-title,
.Long_Lasting_block-title{
  position: absolute;
  width: 73px;
  height: 33px;
  top: 234px;
  left: 143px;

  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;

  text-align: center;
  
  color: #1A0A03;
}

.Quality_block-subtitle,
.Flexible_block-subtitle,
.Long_Lasting_block-subtitle{
  position: absolute;
  width: 239px;
  height: 44px;
  left: 60px;
  top: 277px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  
  text-align: center;
  color: #1A0A03;
  
  opacity: 0.7;
}

.Quality_block-link,
.Flexible_block-link,
.Long_Lasting_block-link{
  position: absolute;
  width: 122px;
  height: 26px;
  left: 127px;
  top: 341px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  
  text-align: center;
  
  color: #EE5514;
  text-decoration: none;
}

.gallary{
  position: absolute;
  width: 1140px;
  height: 575px;
  left: 100px;
  top: 2078px;
}

.gallary_title{
  position: absolute;
  width: 94px;
  height: 30px;

  margin: 0 1046px 545px 0 ;
 
  
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  
  
  letter-spacing: 0.05em;
  
  color: #EE5514;
  
  

}

.gallary_subtitle{
  position: absolute;
  width: 498px;
  height: 57px;
  
  margin: 43px 642px 475px 0 ;
 
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  
  
  color: #1A0A03;

}

.categories{
  position: absolute;
  width: 125px;
  height: 28px;
  margin: 116px 1015px 431px;
  
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  
  letter-spacing: 0.05em;

  
  color: #1A0A03;
  
  opacity: 0.7;
}

.categories_list{
  position: absolute;
  width: 125px;
  height: 28px;
  margin: 116px 1015px 431px 0;
  list-style: none;
  margin-left: -58px;

  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  
  letter-spacing: 0.05em;

  
  color: #1A0A03;
  
  opacity: 0.7;
  display: flex;
  
  
}

.categories_list li {
  right:100px;
  float: left;
  margin: 0 20px;
}
  

.categories_list a:hover {
  color: rgba(238, 85, 20, 1);
  font-weight: bold;
}

.categories_list a {
  text-decoration: none;
  color: #1A0A03;
  
  opacity: 0.7;
}

.menu_sneakers{
  display: flex;
  list-style: none;
  margin-left: 10px;
  margin-left: -40px;

  margin-top: 204px;
  width: 100%;
}

.puma_sneakers-1{
  width: 263px;
  height: 371px;
}
.puma_sneakers-1 img{
  float: left;
  margin: -27px 0px 46px -29px;
}

.puma_sneakers-1 h2{
  position: absolute;
  width: 160px;
  height: 33px;
  margin: 200px 0 0 0 ;
  
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  
  color: #1A0A03;
}

.puma_sneakers-1 h3{
  width: 127px;
  height: 26px;
  margin-bottom: 262px;

  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  
  color: #1A0A03;

}

.puma_sneakers-1 h3 span,
.puma_sneakers-1 h4 span,
.puma_sneakers-2 h3 span,
.puma_sneakers-2 h4 span,
.puma_sneakers-3 h3 span,
.puma_sneakers-3 h4 span,
.puma_sneakers-4 h3 span,
.puma_sneakers-4 h4 span{
  color: #1A0A03;
  opacity: 0.7;
  margin-right: 10px;
}

.puma_sneakers-1 h4,
.puma_sneakers-2 h4,
.puma_sneakers-3 h4,
.puma_sneakers-4 h4{
  width: 41px;
  height: 26px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;

  color: #1A0A03;
}

.puma_sneakers-btn{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 40px;
  gap: 10px;
  background-color: #EE5514;
  cursor: pointer;


  position: absolute;
  width: 128px;
  height: 56px;
  
}

.puma_sneakers-btn:hover,
.puma_sneakers-btn:focus {
  background-color: #EE5514;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.puma_sneakers-btn:hover {
  transform: translateY(-1px);
}

.puma_sneakers-btn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.puma_sneakers-btn span{  
  
  margin: 3px -54px 0px -14px;
  width: 68px;
  height: 26px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 136%;


  text-align: center;
  letter-spacing: 0.03em;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  border-radius: 3px;

 
  transition: all .6s linear 0s;
  will-change: background-color, color;
}

.puma_sneakers-2,
.puma_sneakers-3,
.puma_sneakers-4{
  width: 263px;
  height: 371px;
  margin-left: 30px;
}

.puma_sneakers-2 img {
  float: left;
  margin: -31px 0px 3px -28px;
}

.puma_sneakers-2 h3,
.puma_sneakers-3 h3,
.puma_sneakers-4 h3{
  width: 127px;
  height: 26px;
  margin-bottom: -6px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  
  color: #1A0A03;
}

.puma_sneakers-3 img{
  float: left;
  margin: -31px 0px 3px -28px;
}

.puma_sneakers-4 img{
  float: left;
  margin: -31px 0px 3px -28px;
}


.testimonials{
  position: absolute;
  width: 1140px;
  height: 481px;
  left: 100px;
  top: 2793px;

}

.testimonials_title{
  position: absolute;
  width: 256px;
  height: 57px;
  margin: 0px 442px 424px 442px;
  
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
 
  
  color: #1A0A03;

}

.testimonials_img{
  right: 585px;
  margin-top: 117px;
}
  
.testimonials_face{
  margin-left: 132px;
  margin-bottom: 262px;
}

.apostrophe{
  margin-top: -241px;
  margin-left: 682px;}

.testimonials_heading{
  position: absolute;
  width: 358px;
  height: 33px;
  margin-left: 682px;
  margin-top: 10px;
  
  
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  
  text-align: center;
  
  
  color: #1A0A03;
}

.testimonials_subheading{
  position: absolute;
  width: 390px;
  height: 44px;
  margin-left: 682px;
  margin-top: 62px;


  
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  
  color: #1A0A03;
  
  opacity: 0.7;
}

.testimonials_name{
  position: absolute;
  width: 181px;
  height: 29px;
  margin-left: 682px;
  margin-top: 125px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  
  color: #1A0A03;
}

.sport_category{
  position: absolute;
  width: 53px;
  height: 22px;
  margin-left: 682px;
  margin-top: 172px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;

  color: #1A0A03;
  
  opacity: 0.8;
}

.container_img_sing-up{
  
  position: absolute;
  width: 1140px;
  height: 334px;
  left: 100px;
  top: 3414px;

}

.container-img{
  position: absolute;
  bottom: -31px;
  right: 622px;
  filter: drop-shadow(0px 1px 30px rgba(26, 10, 3, 0.07));
  border-radius: 10px 0px 0px 10px;
}

.background{
  position: absolute;
  width: 652px;
  height: 334px;
  left: 488px;

  background: #81A8DA;
  opacity: 0.1;
  border-radius: 0px 10px 10px 0px;
}

.sing_up_container{
  position: absolute;
  width: 652px;
  height: 334px;
  left: 488px;
}

.sing_up_container-title{
  position: absolute;
  width: 358px;
  height: 43px;
  margin: 63px 231px 228px 63px;
 
  
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 140%;
 
  color: #1A0A03;
}

.sing_up_container-subtitle{
  position: absolute;
  width: 525px;
  height: 54px;
  margin:126px 64px 154px 63px ;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;

  color: #1A0A03;
  
  opacity: 0.7;
}

.input-in_btn{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 40px;
  gap: 10px;
  background-color: #EE5514;
  cursor: pointer;


  position: absolute;
  width: 117px;
  height: 50px;
  margin: -110px 63px 63px 472px;
}

.input-in_btn:hover,
.input-in_btn:focus {
  background-color: #EE5514;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.input-in_btn:hover {
  transform: translateY(-1px);
}

.input-in_btn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.input-in_btn span{  
  
  margin: 15px 40px 1px 0;
  width: 37px;
  height: 21px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 136%;


  text-align: center;
  letter-spacing: 0.03em;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  border-radius: 3px;

 
  transition: all .6s linear 0s;
  will-change: background-color, color;
}

.input-in_btn a {
  text-decoration: none;

}

.input-in{ 
  width: 408px;
  height: 45px;
  margin: 240px 56px 59px 62px;
  border-radius: 5px 0px 0px 5px;

}



.nav_down{
  position: absolute;
  width: 1600px;
  height: 441px;
  left: -125px;
  top: 3748px;
  
  
  
}

.nav_down-img{
  position: absolute;
  margin: 111px 1276px 297px 260px;
}

.nav_down-background{
  background: #EE5514;
  opacity: 0.04;
  position: absolute;
  width: 1600px;
  height: 441px;
  left: 0px;
  top: 3748px;
}

.nav_down-adress{
  position: absolute;
  width: 203px;
  height: 58px;
  margin: 180px 1164px 216px 233px;
 
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
 
  
  color: #1A0A03;
  
  opacity: 0.7;
}


.nav_down-mail{
  position: absolute;
  width: 265px;
  height: 29px;
  margin: 259px 1105px 167px 230px;
 
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  
  color: #1A0A03;
  
  opacity: 0.7;
}


.icons{
  display: flex;
  list-style-type: none;
  margin: 300px 1350px 137px 169px;
  padding-right:  100px; 
  line-height: 10px;
}

.icons li {
  list-style: none;
  margin-left: 20px ;
}

.nav_down-services_title{
  position: absolute;
  width: 111px;
  height: 29px;
  margin: -329px 917px 305px 572px;
 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  
  color: #1A0A03;
}

.nav_down-services_title a{
  text-decoration: none;
  color: #1A0A03;
}

.nav_down-services{
  position: absolute;
  width: 80px;
  height: 29px;
  margin: -281px 917px 305px 532px;
  list-style-type: none;
  
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
 
}

.nav_down-services a {
  color: #1A0A03;
  text-decoration: none;
  opacity: 0.7
}

.nav_down-support_title{
  position: absolute;
  width: 72px;
  height: 29px;
  margin: -329px 768px 305px 760px;

  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #1A0A03;
}

.nav_down-support_title a {
  text-decoration: none;
  color: #1A0A03;
  
}

.nav_down-support{
  position: absolute;
  width: 200px;
  height: 29px;
  margin: -281px 700px 305px 721px;

  list-style-type: none;

  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #1A0A03;
  
}

.nav_down-support a{
  color: #1A0A03;
  text-decoration: none;
  opacity: 0.7
}

.nav_down-contact{
  position: absolute;
  width: 99px;
  height: 29px;

  margin: -330px 450px 305px 1051px;
 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  
  color: #1A0A03;
}

.nav_down-contact a{
  text-decoration: none;
  color: #1A0A03;
}

.nav_down-subtitle{
  position: absolute;
  width: 247px;
  height: 58px;
  margin: -281px 450px 305px 1051px;

  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
 
  color: #1A0A03;
  
  opacity: 0.7;
}

.input_btn{
  
  margin:-281px 450px 305px 1051px;
}

.nav_down-btn{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
   padding: 0px 40px;
  gap: 10px;
  background-color: #EE5514;
  cursor: pointer;
  position: absolute;
  width: 117px;
  height: 50px;
  margin: -50px -16px -12px 248px;
}

.nav_down-btn:hover,
.nav_down-btn:focus {
  background-color: #EE5514;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.nav_down-btn:hover {
  transform: translateY(-1px);
}

.nav_down-btn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.nav_down-btn span{  
  
  margin: 15px 40px 1px 0;
  width: 37px;
  height: 21px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 136%;


  text-align: center;
  letter-spacing: 0.03em;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  border-radius: 3px;

 
  transition: all .6s linear 0s;
  will-change: background-color, color;
}

.nav_down_input-in{ 
  width: 240px;
  height: 44px;
  border-radius: 5px 0px 0px 5px;
}








